.form-control {
    border: 1px solid black;
}

.mainpage {
    border-color: black;
    border: 1px solid;
    position: inherit;
    border-radius: 0.25rem;
    width: 500px;
}

.button:hover {
    background-color: #ffd814;
    border-color: rgb(114, 169, 235);
}

.button {
    background-color: #ffd814;
}

.button1:hover {
    background-color: gainsboro;
    border-color: black;
}

.button1 {
    background-color: #f7f6f0;
    border-color: black;
}

.para {
    text-align: center;
}